.MainContainer {
    display: flex;
    background-color: lightgray;

    .history {
        width: 30vw;
        margin: 1em;
        font-family: arial;
        h1 {
            font-size: 18px;
        }
    }

    .flex {
        display: flex;
        width: 70vw;
        margin: 1em;
    }

    .URLinput {
        width: 70vw;
        margin: 1em;
    }

    .regularButton {
        padding: 10px;
        border: none;
        margin-left: 1em;
        text-transform: uppercase;
        background-color: lightgray;
        font-size: 18px;
    }

    
    .regularButton:hover {
        background-color: gray;
    }
    
    .regularButton:focus {
        background-color: blue;
    }
    
    .goButton {
        font-size: 18px;
        margin-left: 1em;
    }
}